.container {
  width: 1000px;
  margin: 30px auto 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerCards{
  width: 1000px;
  margin: 30px auto 25px auto;
  display: flex;
  justify-content: space-between;
}

.titleH1{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
}

.titleH3{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-gray);
}

.divider {
  margin-bottom: 25px;
}

.pagination{
  margin: 0 auto 25px auto;
  width: 440px;
}
