.containerCard {
  border-radius: 12px;
  background-color: var(--color-white);
}

.container{
  width: 660px;
  margin: 0 auto;
  margin-top: 80px;
}

.h1{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 34px;
  width: 420px;
}

